* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: "Lato", sans-serif;
	background-color: #f4f8fb !important;
}

.wrapper {
	width: 100%;
	height: 100%;
}

.sidebar {
	height: 100%;
	width: 160px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #060EBD;
	overflow-x: hidden;
	padding-top: 20px;
}

.sidebar .sidenav-header {
	padding-left: 15px;
	border-bottom: 1px solid #F8F9F9;
	height: 70px;
}

.sidebar .sidenav-header h2 {
	font-size: 20px;
	color: #FFFFFF;
}

.sidebar .sidenav-header .username {
	font-size: 12px;
	color: #F2F4F4;
}

.sidebar .side-menu a {
	padding: 6px 8px 6px 16px;
  	text-decoration: none;
 	font-size: 15px;
  	color: #FFFFFF;
  	display: block;
  	transition: 0.3s;
}

.sidenav .side-menu a:hover {
  color: #000000;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 15px 10px;
  font-size: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav .side-menu a {font-size: 18px;}
}

.header-page {
	margin-bottom: 20px;
}